.container-avatar {
  position: relative; /* Make it the positioning context for the T-shirt */
  flex-grow: 0.5;
  display: flex; /* Ensure it uses flexbox */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}

.tshirt-image {
  position: absolute; /* Position it over the avatar */
  top: 54%;
  width: 92%;
  height: auto; /* Maintain aspect ratio */
  z-index: 10; /* Ensure it's on top */
  right: 3.25%;
}

.text-overlay {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0); /* Add a semi-transparent background */
  padding: 10px; /* Adjust as needed */
  z-index: 11;
}