.container-avatar {
  position: relative; /* Make it the positioning context for the T-shirt */
  flex-grow: 0.5;
  display: flex; /* Ensure it uses flexbox */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}

