.container-input{
    display: flex;
    align-items: center;    
    position: relative;
    margin-top: 2%;
    margin-left: 2.5%;
    width: 65vw;
}

.text-area {
    width: 100%;
    padding: 6px;
    font-size: large;
    border-radius: 10px;
}

.button {
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    padding: 12px 30px;
    border-radius: 15px;
    font-size: small;
    margin-left: 40px;
}